<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="initial-scale=1">
	<title>Styde.net | Curso de Vue.js</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<script src="vue.js"></script>
<body id="app">

<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<template v-if="name">
			<welcome-message v-bind:name="name" v-bind:gender="gender"></welcome-message> 		
			<p>Espero disfrutes du visita</p>
			<p>Tu nombre al reves es: {{ name.split('').reverse().join('')}}</p>
		</template>

		<p v-else>Por favor escribe tu nombre</p>
		<form @submit.prevent="signUp(false)">
			<input type="text" v-model="name" class="form-control">
			<p  v-if="!name"class="alert alert-danger">Este campo es obligatorio</p>
			<hr>
			<input type="radio" value="f" v-model="gender" name="">Femenino
			<input type="radio" value="m" v-model="gender" name="">Masculino

			<form class="form">
				<input type="text" class="form-control" v-model="new_tech.name">
				<hr>
				<button type="button" class="btn btn-danger">Agregar</button @click="createTech">
			</form>

			<template v-for="tech in techs">
				<years-exp v-bind:years.sync="tech.years" :tech="tech.name"></years-exp>
			</template>
			

			<hello-world></hello-world>
			
			<p v-show="name">
				<button type="submit" class="btn btn-primary" >Registrar</button>
				<button type="button" class="btn btn-primary" @click="signUp(true, $event)">Registrar y sal del sistema</button>

			</p>
		</form>
		<pre>{{$data | json}}</pre>
	</div>
</div>

<script type="text/template" id="welcome_template">
	<h1>{{ gender=='m'? 'Bienvenido':'Bienvenida'}},{{ name}}</h1>
</script>

<script type="text/template" id="years_template">
	<p>Cuatos años de experiencia en {{tech}}??</p>
				Respuesta:<strong>{{years}}</strong>
			<button v-bind:class="{btn:true,'btn-danger':years_php>10}"
					v-bind:style="{'font-size':calculateFontSize()}"
					type="button" 
					@click="add">+</button>
			<button v-bind:disabled="
					years_php==0" 
					class="btn" 
					type="button" 
					@click="sub">-</button>
</script>

	<script type="text/javascript">

		Vue.component('hello-world',{
			template:"<h2>Hello world</h2>"
		});

		Vue.component('welcome-message',{
			template:'#welcome_template',
			props:{
				gender:{type:String, required:false, default:'m'}, 
				name:{type:String, required:true}
			}
		});

		Vue.component('years-exp',{
			template:"#years_template",
			methods:{
				add:function(){
					this.years++;
				},
				sub:function(){
					this.years--;
				},
				createTech:function(){
					this.techs.push(this.new_tech);
				}
			},
			props:['years','tech']
		});

		new Vue({
			el:"#app",
			data:{
				name:"",
				gender:"",
				years_php:0,
				years_js:0,
				techs:[{name:'PHP', years:0},
					   {name: 'JS', years:0},
					   {name: 'HTML', years:0},
				],
			},
			new_tech:{name:'',years:0},
			methods:{
				signUp:function(logout){
					alert(this.name+ ", Por favor espera mientras te registramos")
					if(logout){
						alert(this.name+ ", Saliendo del sistema")	
					}
				},
				restar:function(){
					this.years_php--;
					
				},

				calculateFontSize:function(){
					return 10+this.years_php+'px';
				},

				restarJs: function(){
					this.years_js--;
				}


			}
		});
	</script>
	
</body>
</html>
	
</body>
</html>